<div class="login-container">
  <img src="assets/logo_dp.jpg" alt="Logo DP" class="logo">
    <h2>Iniciar sesión</h2>
    <form (submit)="login(username.value, password.value, $event)">
      <div class="form-group">
        <label for="email">Escribe tu e-mail</label>
        <input type="text" id="email" #username required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" #password required>
      </div>
      <div *ngIf="mensajeError" class="mensajeError"> {{mensajeError}}</div>
      <button type="submit">Iniciar sesión</button>
      
      <button routerLink="/auth/registrar-usuario" routerLinkActive="active" class="register-btn">Regístrate</button>

    </form>
  </div>

  
