<form [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="formGroup">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="formControl">
        <div *ngIf="registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched">
            El nombre es obligatorio.
        </div>

        <label for="email">Email</label>
        <input type="text" formControlName="email" class="formControl">
        <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">
        </div>

        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" class="formControl">
        <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registrarse</button>


    </div>








</form>